<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card class="card">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="produto.nome_produto"
              label="Título"
              required
            ></v-text-field>
            <v-text-field
              v-model="produto.ds_produto"
              label="Descrição"
              required
            ></v-text-field>
            <v-text-field
              v-model="produto.vlr_produto"
              label="Valor"
              required
            ></v-text-field>
            <v-text-field
              v-model="produto.qtd_produto"
              label="Quantidade"
              required
            ></v-text-field>
            <label>Imagem
              <input type="file" id="files" ref="files" v-on:change="handleFileUploads()"/>
            </label>
            <br/><br/>
            <v-btn
            :disabled="!valid"
            id="btnCadastrar"
            @click="submit"
          >
            Cadastrar
          </v-btn>
          <v-btn @click="clear">Limpar</v-btn>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import Vue from 'vue'

export default {
  name: 'produto-cadastrar',
  data: function () {
    return {
      produto: {},
      valid: false,
      date: null,
      menu: false,
      modal: false,
      files: ''
    }
  },
  methods: {
    submit () {
      let formData = new FormData()
      formData.append('file', this.files[0])
      formData.set('nome_produto', this.produto.nome_produto)
      formData.set('ds_produto', this.produto.ds_produto)
      formData.set('vlr_produto', this.produto.vlr_produto)
      formData.set('qtd_produto', this.produto.qtd_produto)

      Vue.http.post('api/produto', formData).then(response => {
        this.$router.push('/produtos')
      })
    },
    clear () {
      this.$refs.form.reset()
    },
    handleFileUploads () {
      this.files = this.$refs.files.files
    }
  }
}
</script>
<style>
  .card {
    padding: 10px;
  }
  #btnCadastrar, #btnEditar {
    background-color: #1565c0!important;
    border-color: #1565c0!important;
    color: white;
  }
</style>
