<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card class="card">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="produto.nome_produto"
              label="Nome"
              required
            ></v-text-field>
            <v-text-field
              v-model="produto.ds_produto"
              label="Descrição"
              required
            ></v-text-field>
            <v-text-field
              v-model="produto.vlr_produto"
              label="Valor"
              required
            ></v-text-field>
            <v-text-field
              v-model="produto.qtd_produto"
              label="Quantidade"
              required
            ></v-text-field>
            <v-btn
              :disabled="!valid"
              @click="submit"
              id="btnEditar"
            >
              Editar
            </v-btn>
            <v-btn @click="clear">Limpar</v-btn>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: 'produto-editar',
  data: function () {
    return {
      sub_title: 'Editar Produto',
      valid: false,
      date: null,
      menu: false,
      modal: false
    }
  },
  methods: {
    submit () {
      let params = {
        id: this.$route.params.id,
        data: this.produto
      }
      this.$store.dispatch('updateProduto', params).then(() => {
        this.$router.push('/produtos')
      })
    },
    clear () {
      this.$refs.form.reset()
    }
  },
  computed: {
    produto () {
      return this.$store.state.produto.produtoView
    }
  },
  created () {
    this.$store.dispatch('getProduto', this.$route.params.id)
  }
}
</script>
<style>
  .card {
    padding: 10px;
  }
  #btnEditar {
    background-color: #1565c0!important;
    border-color: #1565c0!important;
    color: white;
  }
</style>
