<template>
  <v-container>
    <v-layout>
      <v-flex>
        <h1>Detalhar Produto</h1>
        <v-card>
          <v-btn fab dark small color="orange" @click="remove(produto.id)">
            <v-icon dark>delete</v-icon>
          </v-btn>
          <v-btn fab dark small color="green" @click="edit(produto.id)">
            <v-icon dark>edit</v-icon>
          </v-btn>
          <v-card-title>
            <v-layout row wrap>
              <v-flex xs12>
                <span class="grey--text">Nome:</span>
                <span>{{ produto.nome_produto }}</span>
              </v-flex>

              <v-flex xs12>
                <span class="grey--text">Descrição:</span>
                <span>{{ produto.ds_produto }}</span>
              </v-flex>
              <v-flex xs12>
                <span class="grey--text">Valor:</span>
                <span>{{ produto.vlr_produto }}</span>
              </v-flex>

              <v-flex xs12>
                <span class="grey--text">Quantidade:</span>
                <span>{{ produto.qtd_produto }}</span>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: 'produto-view',
  methods: {
    remove: function (id) {
      this.$store.dispatch('removeProduto', id).then(() => {
        this.$router.push('/produtos')
      })
    },
    edit: function (id) {
      this.$router.push('/produtos/' + id + '/editar')
    }
  },
  computed: {
    produto () {
      return this.$store.state.produto.produtoView
    }
  },
  created () {
    this.$store.dispatch('getProduto', this.$route.params.id)
  }
}
</script>
<style>

</style>
