<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card class="card">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="provider.ds_nome_fantasia"
              :rules="nameRules"
              label="Nome do Fornecedor"
              required
            ></v-text-field>
            <v-text-field
              v-model="provider.ds_ramo_atividade"
              :rules="nameRules"
              label="Ramo"
              required
            ></v-text-field>
            <v-text-field
              v-model="provider.ds_email"
              :rules="emailRules"
              label="E-mail"
              required
            ></v-text-field>
            <v-text-field
              v-model="provider.co_cnpj"
              label="CNPJ (PJ)"
              required
            ></v-text-field>
            <v-text-field
              v-model="provider.ds_telefone"
              label="Telefone"
              required
            ></v-text-field>
            <v-text-field
              v-model="provider.ds_cidade"
              label="Cidade"
              required
            ></v-text-field>
            <v-text-field
              v-model="provider.ds_endereco"
              label="Endereço"
              required
            ></v-text-field>
            <v-text-field
              v-model="provider.ds_bairro"
              label="Bairro"
              required
            ></v-text-field>
            <v-text-field
              v-model="provider.co_uf"
              label="UF"
              required
            ></v-text-field>
            <v-text-field
              v-model="provider.co_cep"
              label="CEP (PF)"
              required
            ></v-text-field>
            <v-text-field
              v-model="provider.ds_inscricao"
              label="Inscrição"
              required
            ></v-text-field>
            <v-btn
              :disabled="!valid"
              @click="submit"
              id="btnCadastrar"
            >
              Cadastrar
            </v-btn>
            <v-btn @click="clear">Limpar</v-btn>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: 'fornecedor-create',
  data: function () {
    return {
      provider: {},
      valid: false,
      nameRules: [
        v => !!v || 'Name is required'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail não é válido'
      ],
      date: null,
      menu: false,
      modal: false
    }
  },
  methods: {
    submit () {
      this.$store.dispatch('createFornecedor', this.provider).then(() => {
        this.$router.push('/fornecedores')
      })
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>
<style>
  .card {
    padding: 10px;
  }
  #btnCadastrar {
    background-color: #1565c0!important;
    border-color: #1565c0!important;
    color: white;
  }
</style>
