<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card class="card">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="fornecedor.ds_nome_fantasia"
              :rules="nameRules"
              label="Nome Fornecedor"
              required
            ></v-text-field>
            <v-text-field
              v-model="fornecedor.ds_ramo_atividade"
              :rules="nameRules"
              label="Ramo"
              required
            ></v-text-field>
            <v-text-field
              v-model="fornecedor.ds_email"
              :rules="emailRules"
              label="E-mail"
              required
            ></v-text-field>
            <v-text-field
              v-model="fornecedor.co_cnpj"
              label="CNPJ"
              required
            ></v-text-field>
            <v-text-field
              v-model="fornecedor.ds_telefone"
              label="Telefone"
              required
            ></v-text-field>
            <v-text-field
              v-model="fornecedor.ds_cidade"
              label="Cidade"
              required
            ></v-text-field>
            <v-text-field
              v-model="fornecedor.ds_endereco"
              label="Endereço"
              required
            ></v-text-field>
            <v-text-field
              v-model="fornecedor.ds_bairro"
              label="Bairro"
              required
            ></v-text-field>
            <v-text-field
              v-model="fornecedor.co_uf"
              label="UF"
              required
            ></v-text-field>
            <v-text-field
              v-model="fornecedor.co_cep"
              label="CEP"
              required
            ></v-text-field>
            <v-text-field
              v-model="fornecedor.ds_inscricao"
              label="Inscrição"
              required
            ></v-text-field>
            <v-btn
              :disabled="!valid"
              @click="submit"
              id="btnEditar"
            >
              Editar
            </v-btn>
            <v-btn @click="clear">Limpar</v-btn>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: 'fornecedor-create',
  data: function () {
    return {
      valid: false,
      nameRules: [
        v => !!v || 'Name is required'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail não é valido'
      ],
      date: null,
      menu: false,
      modal: false
    }
  },
  methods: {
    submit () {
      let params = {
        id: this.$route.params.id,
        data: this.fornecedor
      }
      this.$store.dispatch('updateFornecedor', params).then(() => {
        this.$router.push('/fornecedores')
      })
    },
    clear () {
      this.$refs.form.reset()
    }
  },
  computed: {
    fornecedor () {
      return this.$store.state.fornecedor.fornecedorView
    }
  },
  created () {
    this.$store.dispatch('getFornecedor', this.$route.params.id)
  }
}
</script>
<style>
  .card {
    padding: 10px;
  }
  #btnEditar {
    background-color: #1565c0!important;
    border-color: #1565c0!important;
    color: white;
  }
</style>
