<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card-title>
          <h1>Fornecedores</h1>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="fornecedor"
          hide-actions
          class="elevation-1"
          :loading="loading"
        >
          <template slot="items" slot-scope="props">
            <tr @click="goTo('/fornecedores/' + props.item.id)" class="cursor-pointer">
              <td>{{ props.item.ds_nome_fantasia }}</td>
              <td>{{ props.item.ds_ramo_atividade }}</td>
              <td>{{ props.item.ds_email }}</td>
              <td>{{ props.item.co_cnpj }}</td>
              <td>{{ props.item.created_at }}</td>
              <td>{{ props.item.ds_telefone }}</td>
              <td>{{ props.item.ds_endereco }}</td>
              <td>{{ props.item.ds_cidade }}</td>
            </tr>
          </template>
        </v-data-table>
        <pagination resource="fornecedor"></pagination>
      </v-flex>
    </v-layout>
    <v-btn
      color="blue"
      dark
      fixed
      bottom
      right
      fab
      @click="goTo('/fornecedores/novo')"
    >
      <v-icon>add</v-icon>
    </v-btn>
  </v-container>
</template>
<script>
import Pagination from './../SharedComponents/Pagination'

export default {
  name: 'fornecedor-list',
  components: {
    'pagination': Pagination
  },
  methods: {
    goTo: function (url) {
      this.$router.push(url)
    }
  },
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'Nome',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        { text: 'Ramo', value: 'ramo', align: 'left', sortable: false },
        { text: 'E-mail', value: 'email', align: 'left', sortable: false },
        { text: 'Cnpj', value: 'cpf', align: 'left', sortable: false },
        { text: 'Data Criação', value: 'date_create', align: 'left', sortable: false },
        { text: 'Telefone', value: 'telefone', align: 'left', sortable: false },
        { text: 'Endereço', value: 'endereço', align: 'left', sortable: false },
        { text: 'Cidade', value: 'cidade', align: 'left', sortable: false }
      ]
    }
  },
  computed: {
    fornecedor () {
      return this.$store.state.pagination.getList.data
    },
    loading () {
      return this.$store.state.pagination.getListLoading
    }
  }
}
</script>
<style>
.cursor-pointer {
  cursor: pointer;
}
</style>
