<template>
  <v-container>
    <v-layout>
      <v-flex>
        <h1>Detalhar Fornecedor</h1>
        <v-card>
          <v-btn fab dark small color="orange" @click="remove(fornecedor.id)">
            <v-icon dark>delete</v-icon>
          </v-btn>
          <v-btn fab dark small color="green" @click="edit(fornecedor.id)">
            <v-icon dark>edit</v-icon>
          </v-btn>
          <v-card-title>
            <v-layout row wrap>
              <v-flex xs12>
                <span class="grey--text">Nome:</span>
                <span>{{ fornecedor.ds_nome_fantasia }}</span>
              </v-flex>
              <v-flex xs12>
                <span class="grey--text">Ramo:</span>
                <span>{{ fornecedor.ds_ramo_atividade }}</span>
              </v-flex>
              <v-flex xs12>
                <span class="grey--text">E-mail:</span>
                <span>{{ fornecedor.ds_email }}</span>
              </v-flex>
              <v-flex xs12>
                <span class="grey--text">CNPJ:</span>
                <span>{{ fornecedor.co_cnpj }}</span>
              </v-flex>
              <v-flex xs12>
                <span class="grey--text">Data Criação:</span>
                <span>{{ fornecedor.created_at }}</span>
              </v-flex>
              <v-flex xs12>
                <span class="grey--text">Telefone:</span>
                <span>{{ fornecedor.ds_telefone }}</span>
              </v-flex>
              <v-flex xs12>
                <span class="grey--text">Endereço:</span>
                <span>{{ fornecedor.ds_endereco }}</span>
              </v-flex>
              <v-flex xs12>
                <span class="grey--text">Cidade:</span>
                <span>{{ fornecedor.ds_cidade }}</span>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: 'fornecedor-view',
  methods: {
    remove: function (id) {
      this.$store.dispatch('removeFornecedor', id).then(() => {
        this.$router.push('/fornecedores')
      })
    },
    edit: function (id) {
      this.$router.push('/fornecedores/' + id + '/editar')
    }
  },
  computed: {
    fornecedor () {
      return this.$store.state.fornecedor.fornecedorView
    }
  },
  created () {
    this.$store.dispatch('getFornecedor', this.$route.params.id)
  }
}
</script>
<style>

</style>
