<template>
  <div>

      <v-container grid-list-md text-xs-center>
        <v-layout row wrap>

          <v-flex xs12 sm6 md4 v-for="product in products" :key="product.id">
            <v-hover>
              <v-card
                slot-scope="{ hover }"
                class="mx-auto"
                color="grey lighten-4"
                max-width="600"
              >
                <v-img
                  :aspect-ratio="16/9"
                  :src="`${server}/${product.file}`"
                >
                  <v-expand-transition>
                    <div
                      v-if="hover"
                      class="d-flex transition-fast-in-fast-out orange darken-2 v-card--reveal display-3 white--text"
                      style="height: 100%;"
                    >
                      R$ {{product.price}}
                    </div>
                  </v-expand-transition>
                </v-img>
                <v-card-text
                  class="pt-4"
                  style="position: relative;"
                >
                  <v-btn
                    absolute
                    color="orange"
                    class="white--text"
                    fab
                    large
                    right
                    top
                  >
                    <v-icon>shopping_cart</v-icon>
                  </v-btn>
                  <div class="font-weight-light blue--text title mb-2">{{product.title}}</div>
                  <div class="font-weight-light grey--text title mb-2">
                    {{product.description}}
                  </div>
                </v-card-text>
              </v-card>
            </v-hover>
          </v-flex>

        </v-layout>
          <pagination resource="store"></pagination>
      </v-container>

  </div>
</template>

<script>
import Pagination from './SharedComponents/Pagination'

export default {
  name: 'HelloWorld',
  components: {
    'pagination': Pagination
  },
  data () {
    return {
      drawer: true,
      server: process.env.SERVER
    }
  },
  props: {
    source: String
  },
  computed: {
    products () {
      return this.$store.state.pagination.getList.data
    },
    loading () {
      return this.$store.state.pagination.getListLoading
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}
</style>
